#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Caelum
Comment=Aplicación de clima y astronomía moderna, fluida y rápida para Linux
Exec=/bin/bash -c "cd '/mnt/samsung/Desarollo/Weather Linux' && ./run.sh"
Icon=/mnt/samsung/Desarollo/Weather Linux/assets/icons/weather_app.svg
Terminal=false
Type=Application
Categories=Utility;Weather;Astronomy;Qt;
StartupWMClass=caelum
StartupNotify=true
Keywords=weather;clima;astronomia;pronostico;forecast;caelum;glassmorphism;
